  <div class="row">
    <div class="col s12 m6">
      <div class="card red lighten-4">
        <div class="card-content white-text">
          <span class="card-title"><%=@blog.title%></span>
          <p class="title"><%=@blog.text%></p>
          <p class="name"><%=@blog.user.name%></p>
        </div>
        <div class="card-action">
            <%=link_to "戻る",root_path%>
          <%if user_signed_in? && current_user.id==@blog.user.id%>
            <%=link_to "編集",edit_blog_path(@blog.id)%>
            <%=link_to "削除",blog_path(@blog.id), method: :delete%>
          <%end%>
        </div>
      </div>
    </div>
  </div>

  <div class="container"> 
    <!-- ここからフォーム カードで実装-->
    <% if current_user %>
      <%= form_tag("/blogs/#{@blog.id}/comments", method: :post) do %>
        <textarea cols="30" name="text" placeholder="コメントする" rows="2"></textarea>
        <input type="submit" value="SENT">
      <% end %>
    <% end %>
  </div>


    <ul class="collection">
    <div class="col s12 m6">
      <div class="card red lighten-4">
        <div class="card-content gray-text">


          <li class="collection-item avatar">
            <i class="material-icons circle green">insert_chart</i>
            <span class="title">Title</span>
            <p>First Line <br>
              Second Line
            </p>
            <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
          </li>
          <li class="collection-item avatar">
            <i class="material-icons circle red">play_arrow</i>
            <span class="title">Title</span>
            <p>First Line <br>
              Second Line
            </p>
            <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
          </li>
          </div>
          </div>
          </div>
  </ul>
